$lightcream: rgb(255, 243, 229);
$darkcream: rgb(132, 102, 77);
$tintedlightcream: rgb(238, 226, 213);
$whitecream: rgb(253, 249, 244);
$errorMessage: rgb(255, 107, 105);
$responseSuccess: rgb(241, 255, 229);
$responseError: rgb(255, 232, 229);