@font-face {
    font-family: "BodoniModa";
    src: url("./assets/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: "Radley";
    src: url("./assets/fonts/Radley/Radley-Regular.ttf");
}